/* body {
    display: flex;
    overflow: hidden;
} */
section {
    margin-top: 5%;
    min-width: 100vw;
}
.custom-width,
.buttons {
    width: 400px;
    margin-top: 50px;
}
h1 {
    margin-bottom: 50px;
}
