<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{% block title %}Registration Form!{% endblock %}</title>
        {% block stylesheets %}
            <link
                    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
                    rel="stylesheet"
                    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
                    crossorigin="anonymous"
            />
            <link rel="stylesheet" type="text/css" href="/css/main.css" />
        {% endblock %}

        {% block prejavascripts %}
            <script
                    src="https://code.jquery.com/jquery-3.6.0.min.js"
                    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                    crossorigin="anonymous">

            </script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block postjavascripts %}
            <script src="/js/initializeStatuses.js"></script>
            <script src="/js/initializeUser.js"></script>
            <script src="/js/main.js"></script>
        {% endblock %}
    </body>
</html>
