{% extends 'base.html.twig' %}

{% block body %}
    <section id="personal-info" class="tab">
        <div class="container d-flex flex-column align-items-center">
            <h1>Personal Details</h1>
            <form class="custom-width">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input
                            type="text"
                            class="form-control active"
                            id="name"
                            maxlength="30"
                            required
                            data-field="name"
                    />
                </div>
                <div class="mb-3">
                    <label for="surname" class="form-label">Surame</label>
                    <input
                            type="text"
                            class="form-control active"
                            id="surname"
                            maxlength="30"
                            required
                            data-field="surname"
                    />
                </div>
                <div class="mb-3">
                    <label for="phone-number" class="form-label"
                    >Phone Number</label
                    >
                    <input
                            type="text"
                            class="form-control active"
                            id="phone-number"
                            maxlength="20"
                            required
                            data-field="phoneNumber"
                    />
                </div>
            </form>
            <div class="buttons d-flex justify-content-end">
                <button type="button" class="btn btn-primary next">next</button>
            </div>
        </div>
    </section>

    <section id="address" class="tab">
        <div class="container d-flex flex-column align-items-center">
            <h1>Address</h1>
            <form class="custom-width">
                <div class="mb-3">
                    <label for="street" class="form-label">Street</label>
                    <input
                            type="text"
                            class="form-control active"
                            id="street"
                            maxlength="30"
                            required
                            data-field="street"
                    />
                </div>
                <div class="mb-3">
                    <label for="house-number" class="form-label"
                    >House Number</label
                    >
                    <input
                            type="text"
                            class="form-control active"
                            id="house-number"
                            maxlength="5"
                            required
                            data-field="houseNumber"
                    />
                </div>
                <div class="mb-3">
                    <label for="zip-code" class="form-label">ZIP Code</label>
                    <input
                            type="text"
                            class="form-control active"
                            id="zip-code"
                            maxlength="10"
                            required
                            data-field="zipCode"
                    />
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input
                            type="text"
                            class="form-control active"
                            id="city"
                            maxlength="30"
                            required
                            data-field="city"
                    />
                </div>
            </form>
            <div class="buttons d-flex justify-content-between">
                <button type="button" class="btn btn-primary previous">
                    previous
                </button>
                <button type="button" class="btn btn-primary next">next</button>
            </div>
        </div>
    </section>

    <section id="bank-details" class="tab">
        <div class="container d-flex flex-column align-items-center">
            <h1>Bank Account Details</h1>
            <form class="custom-width">
                <div class="mb-3">
                    <label for="bank-account-owner" class="form-label"
                    >Account Owner Full Name</label
                    >
                    <input
                            type="text"
                            class="form-control active"
                            id="bank-account-owner"
                            minlength="4"
                            maxlength="255"
                            required
                            data-field="bankAccountOwner"
                    />
                </div>
                <div class="mb-3">
                    <label for="IBAN" class="form-label">IBAN</label>
                    <input
                            type="text"
                            class="form-control active"
                            id="iban"
                            minlength="34"
                            maxlength="34"
                            required
                            data-field="iban"
                    />
                </div>
            </form>
            <div class="buttons d-flex justify-content-between">
                <button type="button" class="btn btn-primary previous">
                    previous
                </button>
                <button type="button" class="btn btn-primary next">
                    submit
                </button>
            </div>
        </div>
    </section>
{% endblock %}
